body {
    /* background-color: cornflowerblue; */
    font-family: 'Ubuntu', sans-serif;
    /* background-color: #fefbd8; */
}

header {
    background-color: #618685;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    font-size: 20px;
    color: #fefbd8;
    /* text-align: center; */
    display: flex;
    align-items: center;
    z-index: 5;
    border-bottom: 20px solid #4040a1;
}

h1 {
    margin-left: 15px;
    letter-spacing: 3px;
}

main {
    position: absolute;
    top: 120px;
}

/* =================================================================================== */
/* search section */
/* =================================================================================== */

#search {
    position: fixed;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: rgb(165, 165, 165); */
    /* width: 100%; */
    height: auto;
    top: 20px;
    right: 15px;
    margin-top: 20px;
}

#search-input {
    height: 20px;
    font-size: 20px;
    background-color: #618685;
    color: white;
    border: none;
    /* border-radius: 5%; */
    margin-left: 5px;
    border-bottom: 5px solid #4040a1;
}

#submit-btn {
    height: 27px;
    background-color: #4040a1;
    color: white;
    /* border-radius: 5%; */
    border: none;
    width: 35px;
}

#search-text {
    /* color: black; */
    /* margin-top: 26.8px; */
    font-size: 20px;
}

::placeholder {
    color: rgb(223, 221, 221);
}

/* =================================================================================== */
/* =================================================================================== */

#current-weather {

}